{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Product List</button></a></p>

<h1>{{ product.name }}</h1>

<p>
    <b>{{ product.get_category_display }}</b>
    {% if product.is_featured %} | <b>Featured</b>{% endif %}
    | <b>{{ product.brand }}</b>
</p>



{% if product.thumbnail %}
<img src="{{ product.thumbnail }}" alt="Product thumbnail" width="300">
<br /><br />
{% endif %}

<p>{{ product.description }}</p>
<br /><br />

<p>Stock : {{product.stock}}</p>
<p>Gender : {{product.gender}}</p>
<p>Bonus Points : {{product.bonus_points}}</p>

{% endblock content %}